app-team-list {
    display: flex;
    justify-content: center;
    align-items: baseline;
   }
   
   .container {
    display: flex;
    clear: both;
    .app-sidebar {
      width: 15%;
      min-width: 140px;
      height: calc(100vh - 60px);
      overflow: auto;
    }
    .app-team-list {
      display: flex;
      width: 85%;
      height: calc(100vh - 60px);
      overflow: auto;
      padding-top: 64px;
    }
   
    .team-view {
      justify-content: flex-start;
      align-items: baseline;
      flex-direction: row;
    }
   
    .no-team-view {
      justify-content: center;
      align-items: center;
    }
   }