<div class="topnav">
  <div class="home-btn">
    <button (click)="home()">Home</button>
  </div>
  <div class="template-btns">
    <button class="right-align"id="realButton" (click)="openUpload()">
      Import <input type="file" class="hiddenUpload" id="srcfile" ngModel (change)="checkExtension($event)" accept=".csv" visibility="hidden">
    </button>
    <button class="right-align" (click)="exportCsv()" >
      Export
    </button>
    <button class="right-align" (click)="templateCsv()">
      Template
    </button>
  </div>
</div>