<div class="container">
  <div class="topnav">
    <button (click)="home">Home</button>
  </div>
  <div class="logo">
    <img src="/assets/vizTeams.png" alt="Viz Teams Logo">
  </div>
  <div class="right-links">
    <button id="realButton" (click)="openUpload()">
      Import <input type="file" class="hiddenUpload" id="srcfile" ngModel (change)="checkExtension($event)" accept=".csv" visibility="hidden">
    </button>
    <button (click)="exportCsv()" >
      Export
    </button>
    <button (click)="templateCsv()">
      Template
    </button>
  </div>
</div>
