.topnav {
  overflow: hidden;
  background-color: rgb(255,78,0);
  font-size: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: url(/assets/vizTeams.png) no-repeat center center;
  background-color: rgb(255, 78, 0);
  a {
    text-decoration: none;
    color: white;
  }
  button {
    display: flex;
    color: white;
    background-color: rgb(255, 78, 0);
    border: none;
    padding: 20px 16px;
    text-align: center;
    cursor: pointer;
  }
  button:hover {
    background-color: rgb(1, 173, 171);
    color: white;
  }
  .template-btns {
    display: flex;
    flex-direction: row;
  }
  #realButton {
    background: rgb(255, 78, 0);
    border: none;
    color: white;
    position: relative;
    transition-duration: 0.3s;
    display: block;
  }
  
  #realButton:hover{
    background-color: rgb(1, 173, 171);
  }
  .hiddenUpload {
    width: 100%;
    height: 100%;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
  }
}