.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #e14e00;
  font-size: 1.1rem;

  .logo {
    padding: .5rem;
  }

  .links {
    height: 100%;
  }

  button {
    background: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    height: 100%;
    padding: 1.125em;
    position: relative;
    transition-duration: 0.3s;
    
    &:hover{
      background-color: #01adab;
    }
  }
}
