.app-download-button{
    color: white;
    float: right;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    /* padding: 20px; */
    background: #ffa600;
    border: color orange;
    margin: color rgb(48, 46, 44);
    display: flex;

  }
h2{
  text-align: center;
}

.right-align{
  float: right;
}

#realButton {
  background: #ffa600;
  border: color orange;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  height: 25px;
  width: 80px;
  position: relative;
}

.hiddenUpload {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
}
