button {
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(86, 94, 170);
    transition-duration: 0.3s;
    border-radius: 2rem;
}

button:hover {
    background-color: rgb(1, 173, 171);
}

.team-list{
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    height: 900px;
    overflow: scroll;
    text-align: center;
    h3 {
        background-color: rgb(1, 173, 171);
        border-radius: 2rem;
        color: white;
        font-size: 25px;
        padding: 1rem 0rem;
        text-align: center;
        width: 100%;
    }

    .team-column {
        width: 33%;
        display: flex;
    }
}

// .team-member {
//     border: 1px solid rgb(105, 62, 62);
//     margin: 1rem;
//     padding: 1rem;

// }

.draggable {
    // margin: auto;
    padding: 5px 0;
    cursor: move;
}

.drop-target {
    border: 1px solid lightgray;
    box-shadow:lightgrey 2px 2px 9px 0px;

    margin: 1rem;
    padding: 1rem;
    width: 100%;
    padding-top: 0rem;
}
