<div class="team-list">
  <div class="team-column" *ngFor='let team of teams'>
    <div class="drop-target" appDropTarget (myDrop)="onDrop($event,team)">
      <h3>{{team.name}} Team</h3>
      <div *ngFor='let person of team.members'>
        <div [appDraggable]="{data:person}" class="team-member" class="draggable">
          <span>{{person.firstName}} {{person.lastName}},<br>
          {{person.position}}</span><br>
          <button (click)="edit(person)">Edit</button>
        </div>
      </div>
    </div>
