button {
    border: none;
    padding: 5px 10px;
    color: white;
    background-color: rgb(86, 94, 170);
    transition-duration: 0.3s;
    border-radius: 2rem;
}

button:hover {
    background-color: rgb(1, 173, 171);
}

.team-list{
    background: white;
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    text-align: left;
    line-height: 1.5; 
    h3 {
        background-color: rgb(1, 173, 171);
        border-radius: 2rem;
        color: white;
        font-size: 25px;
        padding: .5rem .75rem;
        font-size: 1.25em;
        text-align: center;
    }

    .team-column {
        width: 33%;
        display: flex;
        min-width: 300px;
    }
}

.team-member {
    padding: 5px 0;
    cursor: move;
    margin-top: 1em;
    display: flex;
    justify-content: space-between;
    .details {
        display: flex;
        flex-direction: column;
    }
    .btns {
        align-self: center;
        display: none;
    }
}

.team-member:hover {
    .btns {
        display: flex;
    }
}

.drop-target {
    border: 1px solid lightgray;
    box-shadow:lightgrey 2px 2px 9px 0px;

    margin: 1rem;
    padding: 1rem;
    width: 100%;
    padding-top: 0rem;
}
