<div id="loading" class="w3-loading-modal-modal" *ngIf="!sub1 && !sub2">
  <div class="w3-modal-content ">
    <div class="w3-center">
      <div class="w3-container w3-xxxlarge">
        Building teams...
      </div>
      <div class="w3-container w3-margin">
        <i class='fas fa-spinner w3-spin w3-xxxlarge'></i>
      </div>
    </div>
  </div>
</div>

<div *ngIf="teams.length > 0" class="team-list">
  <button class="add-team w3-button w3-teal"
          onclick="document.getElementById('addTeamModal').style.display='flex'">
    Add Team
  </button>
  <div class="team-column" *ngFor='let team of teams | teamFilter:"eifOc9Ci7tx3UIelR7qG" | teamSortAsc'>
    <div class="drop-target" appDropTarget (myDrop)="onDrop($event,team)">
      <div class="team-header w3-display-container w3-padding w3-margin-top w3-teal w3-center">
        <h4>{{team.name | truncate:[12, '...']}}</h4>
        <div class="w3-display-right" (click)="deleteTeam(team, people)">
          <div class="w3-container w3-hover-none w3-hover-text-red"><i class='fas fa-trash'></i></div>
        </div>
      </div>
      <div *ngFor='let person of people | personFilter:team.id;'>
        <div [appDraggable]="{data:person}" class="team-member">
          <div class="details">
            <div>{{person.firstName}} {{person.lastName}},</div>
            <div>{{person.position}}</div>
          </div>
          <div id="edit" class="btns">
            <div class="w3-container w3-hover-none w3-hover-text-green" (click)="edit(person)"><i
              class='fas fa-edit'></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="addTeamModal" class="w3-modal">
  <div class="w3-modal-content w3-card-4">
    <header class="w3-container w3-teal w3-center">
      <span onclick="document.getElementById('addTeamModal').style.display='none'"
            class="w3-button w3-display-topright">&times;</span>
      <h2>Add Team</h2>
    </header>
    <div class="w3-container w3-margin">
      <input class="w3-input" type="text" [(ngModel)]="teamName" placeholder="Team Name">
    </div>
    <div class="w3-container w3-margin">
      <button class="w3-button w3-teal w3-margin-bottom w3-margin-left w3-right" (click)="addTeam(teamName);loading('loadingModal')"
              onclick="document.getElementById('addTeamModal').style.display='none'" [disabled]="canSubmit()">
        Save
      </button>
      <button class="w3-button w3-red w3-right"
              onclick="document.getElementById('addTeamModal').style.display='none'">
        Cancel
      </button>
    </div>
  </div>
</div>

<div id="loadingModal" class="w3-modal">
  <div class="w3-modal-content ">
    <div class="w3-center">
      <div class="w3-container w3-xxxlarge">
        Building teams...
      </div>
      <div class="w3-container w3-margin">
        <i class='fas fa-spinner w3-spin w3-xxxlarge'></i>
      </div>
    </div>
  </div>
</div>
