<div class="container">
  <div class="edit-form">
    <div class="top">
      <div class="fields">
        <h1>{{person.firstName}} {{person.lastName}}</h1>
        <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="person.firstName">
        <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="person.lastName">
        <input type="text" class="form-control" placeholder="Position" [(ngModel)]="person.position">
        <input type="text" class="form-control" placeholder="Team Name" [(ngModel)]="person.teamName">
      </div>
    </div>
    <div class="bottom">
      <div class="btns">
        <button class="remove" (click)="removePerson(person)">Remove</button>
        <button class="cancel" (click)="home()">Cancel</button>
        <button class="save" (click)="finishEditing()">Save</button>
      </div>
    </div>
  </div>
</div>
