button {
    border: none;
    padding: 10px;
    color: white;
    background-color: rgb(86, 94, 170);
    transition-duration: 0.3s;
    border-radius: 2rem;
}
.remove:hover {
    background: rgb(255, 78, 0);
}
.save:hover {
    background-color: #87c652;
}
button:hover {
    background-color: rgb(1, 173, 171);
}

.edit-form {
    padding-left: 2em;
}

a {
    text-decoration: none;
}