<h1>Editing {{oldPerson.firstName}} {{oldPerson.lastName}}'s Profile</h1>

<label>First Name</label>
<input
  type="text"
  class="form-control"
  value="{{oldPerson.firstName}}"
  (keyup)="onKeyFirstName($event)">
<br><br>

<label>Last Name</label>
<input
  type="text"
  class="form-control"
  value="{{oldPerson.lastName}}"
  (keyup)="onKeyLastName($event)">
<br><br>

<label>Position</label>
<input
  type="text"
  class="form-control"
  value="{{oldPerson.position}}"
  (keyup)="onKeyPosition($event)">
<br><br>

<label>Team</label>
<input
  type="text"
  class="form-control"
  value="{{oldPerson.teamName}}"
  (keyup)="onKeyTeamName($event)">
<br><br>

<a routerLink="/"><button>Cancel</button></a>
<a routerLink="/" (click)="finishEditing(this.oldPerson)"><button>Save</button></a>
