<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>Choose CSV File for Upload:</h2>
<div class="test"><input type="file" id='srcfile' ngModel (change)="checkExtension($event)" accept=".csv">
</div>

<h2>
  File Type: <span [style.color]="validation">{{valid}}</span>
</h2>

<div *ngFor='let person of people'>
  <div>
    <span>{{person.firstName}}</span>
    <span>{{person.lastName}}</span>
    <span>{{person.position}}</span>
    <span>{{person.team}}</span>
  </div>


</div>



<a href="path" download="new_file_name.fileType"> <button>Download</button></a>
<div class="test">
<!-- <a href="path" download="new_file_name.fileType">  -->
  <button class="app-download-button">Download</button>
<!-- </a> -->
</div>


<hr>
<app-edit-person></app-edit-person>