* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    height: 100%;
    display: flex;
    clear: both;
    .app-sidebar{
        width: 15%;
        min-width: 140px;
        height: 100%;
    }
    .app-team-list{
        width: 85%;
    }
}