.app-download-button{
    background-color: rgba(118, 118, 192, 0.897);
    display: block; 
    font-size: 20px;
    margin: auto;
}
h2{
    text-align: center;
}
.test{
        font-size: 20px;
        width: 20%;
        background: rgb(218, 129, 28);
        margin: auto;
        border: 3px solid black;
    }