* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container{
    display: flex;
    clear: both;
    .app-sidebar{
        width: 15%;
        height: 900px;
        overflow: auto;
    }
    .app-team-list{
        width: 85%;
    }
}