<div class="sidebar">
  <div *ngFor="let person of people">
    <div [appDraggable]="{data:person}" class="draggable" > 
      {{ person.firstName }} {{ person.lastName }}, {{ person.position }}
    </div>
  </div>
  <button *ngIf="!isAdding" (click)="startAdding()">Add</button>
  <div *ngIf="isAdding" class="add-form">
    <input [type]="text" [(ngModel)]="firstName" placeholder="First Name">
    <input [type]="text" [(ngModel)]="lastName" placeholder="Last Name">
    <input [type]="text" [(ngModel)]="position" placeholder="Position">
    <input [type]="text" [(ngModel)]="teamName" placeholder="Team Name">
    <button (click)="stopAdding()">Cancel</button>
    <button (click)="finishAdding()">Done</button>


  </div>
</div>