button {
    color: white;
    background: #ffa600;
    transition-duration: 0.4s;
}

button:hover {
    background-color:black;
}

.sidebar{
    height: 900px;
    background: lightgray;
}

.draggable {
    border: 1px solid #ccc;
    margin: 1rem;
    padding: 1rem;
    cursor: move;
}

.drop-target {
    border: 1px dashed #000000;
    margin: 1rem;
    padding: 1rem;
    width: 6rem;
}